:root{
    --preto: #161816;
    --preto-escuro: #1f2420;
    --verde-marinho: #216968;
    --verde: #499f78;
    --verde-claro: #9cc6a2;
    --branco: #dce1dd;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body{
    background-color: var(--preto-escuro);
    color: var(--branco);
}

/* ANIMAÇÕES: */
@keyframes fadeInDown {
    from{
        opacity: 0.5;
        transform: translateY(-30px);
    }

    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeInUp {
    from{
        opacity: 0.5;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes popUp {
    from{
        transform: translateY(30px);
        scale: 0.8;
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        scale: 1;
        opacity: 1;
    }
}

@keyframes popIn {
    from {
        transform: scale(0.75);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}


.popIn{
    animation: popIn 1.5s !important;
}

.fadeInDown{
    animation: fadeInDown 1s !important;
}

.fadeInUp{
    animation: fadeInUp 1s !important;
}

.popUp{
    animation: popUp 1.5s !important;
}