* {
    padding: 0 5px;
}

.card-list {
    padding-block: 100px;
    justify-content: center;
    list-style: none;
    display: grid;
    gap: 40px;
}

.card-item {
    background-color: var(--preto);
    border-radius: 3rem;
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    height: 175px;
}

.card-item i {
    font-size: 40px;
    padding: 0 0 10px 5px;
}

.card-item p {
    margin-top: 2px;
    font-weight: 200;
    font-size: 10px;
}

/* COMEÇE POR AQUI */
/* Celulares (para telas entre 360px e 576px) */
@media (min-width: 360px) and (max-width: 576px) {
    .card-list {
        grid-template-columns: repeat(2, 175px);
    }
}

/* Tablet (para telas entre 576px e 768px) */
@media (min-width: 576px) and (max-width: 767px) {
    .card-list {
        grid-template-columns: repeat(3, 175px);
    }
}

/* Desktop (para telas entre 768px e 1024px) */
@media (min-width: 768px) {
    .card-list {
        grid-template-columns: repeat(4, 175px);
    }

    .card-item {
        border-radius: 1.5rem;
    }

    .card-item i {
        padding: 10px 0 10px 5px;
    }
}
